#won, #lost
{
    display: none;
}

#word, #letters
{
    padding: 20px, 0px;
}

#man
{
    margin: 20px auto;
    width: 600px;
    height: 600px;
}

#word
{
    font-size: 2em;
}

.hint
{
    font-size: 1em !important;
}

.btn
{
    padding: 7px 7px !important;
    margin: 0px 2px;
}
